/* https://jhildenbiddle.github.io/docsify-themeable/#/customization */
:root {
  --content-max-width: 80%;

  --ucd-blue-100: #022851;
  --ucd-blue-70: #355B85;
  --ucd-blue-10: #CDD6E0;

  --ucd-gold-10: #FFF9E5;
  --ucd-black-10: #E5E5E5;

  --ucd-accent-merlot: #79242F;

  --heading-color: var(--ucd-blue-70);

  --heading-h1-border-style: solid;
  --heading-h1-border-width: 0 0 4px 0;

  --heading-h2-padding: 0 0 0 0;
  --heading-h2-border-style: solid;
  --heading-h2-border-color: var(--ucd-blue-70);
  --heading-h2-border-width: 4px 0 4px 0;

  --heading-h3-border-style: solid;
  --heading-h3-border-width: 2px 0 2px 0;

  --heading-h1-font-size: var(--font-size-xxl);
  --heading-h2-font-size: var(--font-size-xxl);
  --heading-h3-font-size: var(--font-size-xl);
  --heading-h4-font-size: var(--font-size-l);
  --heading-h5-font-size: var(--font-size-m);
  --heading-h6-font-size: var(--font-size-s);

  --code-inline-background: var(--ucd-gold-10);

  --sidebar-background: var(--ucd-gold-10);
  --sidebar-name-color: var(--ucd-blue-100);
  --sidebar-name-font-weight: bold;
  --sidebar-width: 25rem;

  --sidebar-nav-link-color: var(--ucd-blue-100);
  --sidebar-nav-link-color--hover: var(--ucd-blue-70);

  --sidebar-nav-link-color--active: var(--ucd-accent-merlot);
  --sidebar-nav-link-background-color--active: var(--ucd-black-10);
  --sidebar-nav-link-font-weight--active: bold;

  --search-input-background-color: var(--ucd-blue-10);

  /* right TOC sidebar */
  --toc-width: 18rem;

  --table-cell-padding: 0.5em 0.5em;
  --table-row-odd-background: var(--ucd-gold-10);

  --code-theme-background: #f3f3f3;
  --code-theme-comment: #6e8090;
  --code-theme-function: #dd4a68;
  --code-theme-keyword: #07a;
  --code-theme-operator: #a67f59;
  --code-theme-punctuation: #999;
  --code-theme-selector: #690;
  --code-theme-tag: #905;
  --code-theme-text: #333;
  --code-theme-variable: #e90;
}

/* Right TOC Sidebar */
.page_toc div[class^="lv"] a span {
  color: var(--ucd-blue-100);
  text-decoration: none;
  font-weight: inherit;
  line-height: 1.6em;
}

.page_toc p.title {
  color: var(--ucd-blue-100);
  border-bottom: var(--ucd-blue-100) solid 2px;
  margin: revert;
  padding-bottom: revert;
  font-weight: 600;
  font-size: 1.2em;
}

.page_toc div.lv1 {
  display: none;
}

.page_toc div.lv2 a span {
  font-size: var(--font-size-m);
  font-weight: bold;
}

.page_toc div.lv2 {
  border-bottom: var(--ucd-blue-100) solid 1px;
}

.page_toc div.lv3 a span {
  font-size: var(--font-size-s);
  font-weight: bold;
}

.page_toc div.lv4 a span {
  font-size: var(--font-size-s);
}

/* Code highlighting */
.token.description {
  color: var(--code-theme-comment);
}

.token.class-name, .token.object, .token.scalar {
  color: var(--code-theme-text);
  font-weight: bold;
}

.token.attr-name {
  color: var(--code-theme-tag);
}

/* Change handling of fixed width in headings */
.markdown-section h1 code,
.markdown-section h2 code,
.markdown-section h3 code,
.markdown-section h4 code,
.markdown-section h5 code,
.markdown-section h6 code {
  font-size: inherit;
  font-weight: bold;
}

/* The next two fix an incompatability between docsify-themeable and the sidebar collapse */
.sidebar-nav ul:not(.app-sub-sidebar)>li:not(.file)::before {
  content: unset;
  display: block;
  position: absolute;
  top: 11px;
  left: -12px;
  height: 6px;
  width: 6px;
  border-right: 1px solid #505d6b;
  border-bottom: 1px solid #505d6b;
  transform: rotate(-45deg);
  transition: transform .1s
}

.sidebar-nav>ul>li>ul>li>ul>li>a:before {
  content: unset;
  margin: unset;
  color: unset;
}
